<div [formGroup]="ingredientFormGroup" class="recipe-ingredient-container">
    <mat-form-field >
        <input type="text" placeholder="{{ 'SEARCH.INGREDIENT' | translate}}" matInput formControlName="ingredientId" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient._id">
            {{ingredient.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="{{ 'QUANTITY' | translate }}" formControlName="quantity" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'UNITY' | translate }}</mat-label>
        <mat-select formControlName="unit" >
            <mat-option *ngFor="let unit of units" [value]="unit">
            {{unit}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
      