<div>
    <form [formGroup]="mainForm" >
        <mat-form-field>
            <input matInput formControlName="name" placeholder="{{ 'RECIPE.NAME' | translate }}">
        </mat-form-field>
        <mat-radio-group class="type-group" formControlName="type">
            <mat-radio-button value="link">{{ 'REGISTER_LINK' | translate }}</mat-radio-button>
            <mat-radio-button value="details">{{ 'REGISTER_COMPLETE_RECIPE' | translate }}</mat-radio-button>
        </mat-radio-group>
        <div [hidden]="!typeIsLink()">
            <mat-form-field>
                <input matInput formControlName="url" placeholder="{{'RECIPE.LINK' | translate}}" >
            </mat-form-field>
        </div>
        <div [hidden]="typeIsLink()" formGroupName="details">
            <div formArrayName="instructions" >
                <div *ngFor="let instruction of mainForm.controls.details.controls.instructions.controls; let i=index" [formGroupName]="i">
                    <mat-form-field>
                        <input matInput formControlName="content" placeholder="{{'RECIPE.INSTRUCTION' | translate}}" >
                    </mat-form-field>
                    <button mat-icon-button aria-label="Add instruction" (click)="addRow('instructions',i)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Add instruction" (click)="removeRow('instructions',i)">
                            <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
            
            <div formArrayName="ingredients" >
                <div *ngFor="let ingredient of mainForm.controls.details.controls.ingredients.controls; let i=index" [formGroupName]="i">
                    <app-recipe-ingredient-form [ingredientFormGroup]="mainForm.controls.details.controls.ingredients.controls[i]"></app-recipe-ingredient-form>
                    <button mat-icon-button aria-label="Add instruction" (click)="addRow('ingredients',i)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Add instruction" (click)="removeRow('ingredients',i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="action-buttons">
            <button routerLink="/" mat-raised-button>{{'CANCEL' | translate }}</button>
            <button type="submit" [disabled]="!mainForm.valid" mat-raised-button color="primary" (click)=save($event)>{{'VALIDATE' | translate }}</button>
        </div>
    </form>
</div>